<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="trashBotApp.order.detail.title">Order</span> {{ order.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trashBotApp.order.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{ order.orderDate }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.price">Price</span></dt>
                <dd>
                    <span>{{ order.price }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.finishDate">Finish Date</span></dt>
                <dd>
                    <span>{{ order.finishDate }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.userPhotoUrl">User Photo Url</span></dt>
                <dd>
                    <span>{{ order.userPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.courierPhotoUrl">Courier Photo Url</span></dt>
                <dd>
                    <span>{{ order.courierPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.endOrderPhotoUrl">End Order Photo Url</span></dt>
                <dd>
                    <span>{{ order.endOrderPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.orderStartDate">Order Start Date</span></dt>
                <dd>
                    <span>{{ order.orderStartDate }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.orderFinishDate">Order Finish Date</span></dt>
                <dd>
                    <span>{{ order.orderFinishDate }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.orderStatus">Order Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'trashBotApp.OrderStatus.' + order.orderStatus }}">{{ order.orderStatus }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.courierRatio">Courier Ratio</span></dt>
                <dd>
                    <span>{{ order.courierRatio }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.userRatio">User Ratio</span></dt>
                <dd>
                    <span>{{ order.userRatio }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.garbage">Garbage</span></dt>
                <dd>
                    <div *ngIf="order.garbage">
                        <a [routerLink]="['/garbage', order.garbage?.id, 'view']">{{ order.garbage?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.user">User</span></dt>
                <dd>
                    {{ order.user?.id }}
                </dd>
                <dt><span jhiTranslate="trashBotApp.order.courier">Courier</span></dt>
                <dd>
                    <div *ngIf="order.courier">
                        <a [routerLink]="['/courier', order.courier?.id, 'view']">{{ order.courier?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
