<div>
    <h2 id="page-heading">
        <span jhiTranslate="trashBotApp.order.home.title">Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="trashBotApp.order.home.createLabel">
            Create a new Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span jhiTranslate="trashBotApp.order.home.notFound">No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.orderDate">Order Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.price">Price</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.finishDate">Finish Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.userPhotoUrl">User Photo Url</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.courierPhotoUrl">Courier Photo Url</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.endOrderPhotoUrl">End Order Photo Url</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.orderStartDate">Order Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.orderFinishDate">Order Finish Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.orderStatus">Order Status</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.courierRatio">Courier Ratio</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.userRatio">User Ratio</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.garbage">Garbage</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.order.courier">Courier</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a></td>
                    <td>{{ order.orderDate | date:'medium' }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.finishDate | date:'medium' }}</td>
                    <td>{{ order.userPhotoUrl }}</td>
                    <td>{{ order.courierPhotoUrl }}</td>
                    <td>{{ order.endOrderPhotoUrl }}</td>
                    <td>{{ order.orderStartDate | date:'medium' }}</td>
                    <td>{{ order.orderFinishDate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'trashBotApp.OrderStatus.' + order.orderStatus }}">{{ order.orderStatus }}</td>
                    <td>{{ order.courierRatio }}</td>
                    <td>{{ order.userRatio }}</td>
                    <td>
                        <div *ngIf="order.garbage">
                            <a [routerLink]="['/garbage', order.garbage?.id, 'view']" >{{ order.garbage?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ order.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="order.courier">
                            <a [routerLink]="['/courier', order.courier?.id, 'view']" >{{ order.courier?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(order)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
