<div>
    <h2 id="page-heading">
        <span jhiTranslate="trashBotApp.courier.home.title">Couriers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-courier" [routerLink]="['/courier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="trashBotApp.courier.home.createLabel">
            Create a new Courier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="couriers?.length === 0">
        <span jhiTranslate="trashBotApp.courier.home.notFound">No couriers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="couriers && couriers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.photoUrl">Photo Url</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.telegramChatId">Telegram Chat Id</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.joinDate">Join Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.company">Company</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.courier.orders">Orders</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let courier of couriers ;trackBy: trackId">
                    <td><a [routerLink]="['/courier', courier.id, 'view']">{{ courier.id }}</a></td>
                    <td>{{ courier.name }}</td>
                    <td>{{ courier.phoneNumber }}</td>
                    <td>{{ courier.photoUrl }}</td>
                    <td>{{ courier.telegramChatId }}</td>
                    <td>{{ courier.joinDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="courier.company">
                            <a [routerLink]="['/courier-company', courier.company?.id, 'view']" >{{ courier.company?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="courier.orders">
                            <a [routerLink]="['/order', courier.orders?.id, 'view']" >{{ courier.orders?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/courier', courier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/courier', courier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(courier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
