<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courierCompany">
            <h2><span jhiTranslate="trashBotApp.courierCompany.detail.title">Courier Company</span> {{ courierCompany.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trashBotApp.courierCompany.name">Name</span></dt>
                <dd>
                    <span>{{ courierCompany.name }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.courierCompany.inn">Inn</span></dt>
                <dd>
                    <span>{{ courierCompany.inn }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.courierCompany.ogrn">Ogrn</span></dt>
                <dd>
                    <span>{{ courierCompany.ogrn }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.courierCompany.address">Address</span></dt>
                <dd>
                    <span>{{ courierCompany.address }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.courierCompany.phone">Phone</span></dt>
                <dd>
                    <span>{{ courierCompany.phone }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.courierCompany.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ courierCompany.isActive }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/courier-company', courierCompany.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
