<div>
    <h2 id="page-heading">
        <span jhiTranslate="trashBotApp.shift.home.title">Shifts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift" [routerLink]="['/shift/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="trashBotApp.shift.home.createLabel">
            Create a new Shift
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shifts?.length === 0">
        <span jhiTranslate="trashBotApp.shift.home.notFound">No shifts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shifts && shifts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.shift.shiftPlanStartDate">Shift Plan Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.shift.shiftFactStartDate">Shift Fact Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.shift.shiftPlanEndDate">Shift Plan End Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.shift.shiftFactEndDate">Shift Fact End Date</span></th>
                    <th scope="col" ><span jhiTranslate="trashBotApp.shift.prepaid">Prepaid</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of shifts ;trackBy: trackId">
                    <td><a [routerLink]="['/shift', shift.id, 'view']">{{ shift.id }}</a></td>
                    <td>{{ shift.shiftPlanStartDate | date:'medium' }}</td>
                    <td>{{ shift.shiftFactStartDate | date:'medium' }}</td>
                    <td>{{ shift.shiftPlanEndDate | date:'medium' }}</td>
                    <td>{{ shift.shiftFactEndDate | date:'medium' }}</td>
                    <td>{{ shift.prepaid }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shift', shift.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shift', shift.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shift)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
