<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span jhiTranslate="trashBotApp.payment.detail.title">Payment</span> {{ payment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trashBotApp.payment.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{ payment.paymentDate }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.payment.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'trashBotApp.PaymentStatus.' + payment.status }}">{{ payment.status }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.payment.value">Value</span></dt>
                <dd>
                    <span>{{ payment.value }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.payment.user">User</span></dt>
                <dd>
                    {{ payment.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
