<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appUser">
            <h2><span jhiTranslate="trashBotApp.appUser.detail.title">App User</span> {{ appUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="trashBotApp.appUser.name">Name</span></dt>
                <dd>
                    <span>{{ appUser.name }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.appUser.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ appUser.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.appUser.email">Email</span></dt>
                <dd>
                    <span>{{ appUser.email }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.appUser.telegramChatId">Telegram Chat Id</span></dt>
                <dd>
                    <span>{{ appUser.telegramChatId }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.appUser.balance">Balance</span></dt>
                <dd>
                    <span>{{ appUser.balance }}</span>
                </dd>
                <dt><span jhiTranslate="trashBotApp.appUser.promoCode">Promo Code</span></dt>
                <dd>
                    <span>{{ appUser.promoCode }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/app-user', appUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
